<link rel="stylesheet" href="/chat.css" />
<ul id="messages"></ul>
<div id="bottombox">
  <form id="form">
    <input type="text" id="input" autocomplete="off" placeholder="insert your message here 📨"/>
    <button>⏫</button>
  </form>
  <div id="typing"></div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="main.min.js"></script>