<p>
  <a href="../..">Return to home</a>
</p>
<h1>
  API docs
</h1>
<h1>NOTE: it is disabled for now because I need to add rate-limit.</h1>
<h2>
  <code>/api/send</code>
</h2>
<p>
  Method: <code>POST</code>
</p>
<p>
  Options
</p>
<ul>
  <li><code>username</code> (required)</li>
  <li><code>message</code> (required)</li>
</ul>